header{
    background: gray;
    border-radius: 12px;
}
nav{
    background: gold;
    margin: 12px;
    border-radius: 12px;
}
section{
    background: salmon;
    width: 1234px;
    height: 834px;
    margin: 12px;
    border-radius: 12px;
}
aside{
    background: aquamarine;
    width: 434px;
    margin: 17px;
    border-radius: 12px;
}
footer{
    background: gray;
    border-radius: 12px;
}
body{
    font-family: sans-serif;
    font-size: 53px;
    margin-left: 633px;
    margin-right: 633px;
    background: black;
}
.container{
   display: flex;
}
img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    
}
form{
    font-size: 20px;
    border-radius: 23px;
    margin: 12px;
    border: solid purple;
    padding: 10px;
    width: 134px;
    background: purple;
}
.label{
    margin-left: 16px;
}
div{
    display: flex;
}
.form2{
    margin-left: 203px;
    margin-top: -150px;
}
input{
    margin: 12px;
}
.form4{
    margin-left: 203px;
    margin-top: -150px;
}
.form6{
    margin-left: 203px;
    margin-top: -150px;
}
a{border-radius: 12px;
    border: solid gold;
    background: gold;
    color: black;
    margin-left: 42px;
    margin-top: 10px;
}
