form{
    border: solid gray;
    background: gray;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    margin: 15px;
    margin-bottom: 233px;
    margin-left: 733px;
    box-sizing: border-box;
    margin-right: 1453px;
    margin-top: 324px;
    width: 234px;
    border-radius: 12px;
}
a{
    margin: 15px;
    color: azure;
    border: green solid;
    background: green;
    margin: 15px;
    margin-left: 73px;
    margin-top: 15px;
}
input{
    width: 204px;
    padding-left: 13px ;
    margin: 10px;
    width: 185px;
}
body{
    background: gold;
    border-radius: 12px;
}
